@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    background-color: #383838;
}

.text-center {
    text-align: center;
}

.account {
    width: 100%;
    max-width: 500px !important;
    height: 300px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.cards {
    box-shadow: 0px 8px 2px 1px rgb(30 30 30) !important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.card-header {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

    .card-header p {
        margin-top: 13px;
    }

.card-body {
    padding: 50px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.w-100 {
    width: 100% !important;
}

.col {
    max-width: 350px;
}

.card-footer {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.btn-info, .btn-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;    
    color: white;
    margin: 0 5px;
    max-width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.btn-info {
    background: #128156;
}

.btn-default {
    background: #e2e2e2;
    color: #020202;
}

.activation-code-input {
    display: none;
}

.activation-code {
    direction: ltr;
    position: relative;
}

    .activation-code::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border-bottom: 2px solid;
        border-color: #ccc;
        transition: opacity 0.3s ease;
    }

    .activation-code > span {
        position: absolute;
        display: block;
        font-size: 15px;
        color: #128156;
        top: 0;
        right: 0;
        transition: all 0.3s ease;
    }

    .activation-code .activation-code-inputs {
        display: flex;
        /*flex-direction: row;*/
        /*flex-wrap: nowrap;*/
        flex-flow: row nowrap;
    }

        .activation-code .activation-code-inputs input {
            display: flex;
            flex-flow: column nowrap;
            padding: 0;
            border: 0;
            outline: 0;
            min-width: 0;
            line-height: 36px;
            text-align: center;
            align-items: center;
            transition: all 0.3s ease;
            border-bottom: 2px solid;
            border-color: #000;
            margin-right: 8px;
            /*background: red;*/
            opacity: 0;
        }

            .activation-code .activation-code-inputs input:last-child {
                margin-right: 0;
            }

    .activation-code.active::before {
        opacity: 0;
    }

    .activation-code.active .activation-code-inputs input {
        font-size: 20px;
        opacity: 1 !important;
    }

    .activation-code .activation-code-inputs input:focus {
        border-color: #128156 !important;
    }

    .activation-code.active > span {
        transform: translate(0, -100%);
        line-height: 30px;
        opacity: 0.6;
    }

.tel_number {
    background: #f2f2f2;
    padding: 1px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #ffc7c7;
}

/*Animation background*/
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;
    }

        .circles li:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }


        .circles li:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
