.suggestion {
    z-index: 9;
    background: #35393c;
    width: 100%;
    position: relative;
    overflow-y: auto;    
    display: none;
    color: var(--primary-color);
    background: transparent;
}

.sugg_val {
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    cursor: pointer;
    color: #ffffff;
    background: #128156;
    margin: 1px;
}
