USE [TimesMachineArchiveMillikitap]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[AttributesId] [int] IDENTITY(1,1) NOT NULL,
	[Inventory] [nvarchar](max) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[PageCount] [int] NULL,
	[StartDateScan] [datetime] NULL,
	[EndDateScan] [datetime] NULL,
	[FIOScanner] [nvarchar](max) NULL,
	[StartDateScanProcessing] [datetime] NULL,
	[EndDateScanProcessing] [datetime] NULL,
	[FIOProcessing] [nvarchar](max) NULL,
	[StartDateDescriptionProcessing] [datetime] NULL,
	[EndDateDescriptionProcessing] [datetime] NULL,
	[FIODescriptionProcessing] [nvarchar](max) NULL,
	[ParametersPaper] [nvarchar](max) NULL,
	[NameOfBookArabic] [nvarchar](max) NULL,
	[NameOfBookCyrillic] [nvarchar](max) NULL,
	[NameOfBookEnglish] [nvarchar](max) NULL,
	[AuthorOfArabic] [nvarchar](max) NULL,
	[AuthorOfCyrillic] [nvarchar](max) NULL,
	[AuthorOfEnglish] [nvarchar](max) NULL,
	[DateOfCorrespondenceGregorianCalendar] [datetime2](7) NULL,
	[DateOfCorrespondenceMusulmanCalendar] [datetime2](7) NULL,
	[CorrespondenceArabic] [nvarchar](max) NULL,
	[CorrespondenceCyrillic] [nvarchar](max) NULL,
	[CorrespondenceEnglish] [nvarchar](max) NULL,
	[PlaceCorrespondenceArabic] [nvarchar](max) NULL,
	[PlaceCorrespondenceTatar] [nvarchar](max) NULL,
	[PlaceCorrespondenceRussian] [nvarchar](max) NULL,
	[PlaceCorrespondenceEnglish] [nvarchar](max) NULL,
	[PlaceCorrespondenceLat] [real] NULL,
	[PlaceCorrespondenceLon] [real] NULL,
	[LocalityOffDeliveryTatar] [nvarchar](max) NULL,
	[LocalityOffDeliveryRussian] [nvarchar](max) NULL,
	[LocalityOffDeliveryEnglish] [nvarchar](max) NULL,
	[LocalityOffDeliveryLat] [real] NULL,
	[LocalityOffDeliveryLon] [real] NULL,
	[CommentExpert] [nvarchar](max) NULL,
	[CommentEditor] [nvarchar](max) NULL,
	[FinishProcessing] [bit] NULL,
	[PercentWorkScanner] [int] NULL,
	[PercentWorkProcessing] [int] NULL,
	[PercentWorkDescr] [int] NULL,
	[TypesLanguagesListId] [int] NULL,
	[ThemesLanguagesListId] [int] NULL,
	[RegionsId] [int] NULL,
	[ArabicDateText] [nvarchar](max) NULL,
	[CollectionId] [int] NULL,
	[StatesId] [int] NULL,
	[isCollectedBooks] [bit] NULL,
	[InventoryCollectedBook] [nvarchar](max) NULL,
	[CollectedNameText] [nvarchar](max) NULL,
	[isExrimistStatements] [bit] NULL,
	[exrimistStatementsText] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Attributes] PRIMARY KEY CLUSTERED 
(
	[AttributesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookLanguages]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLanguages](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Book_BookId] [int] NULL,
	[LanguageTableListsId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BookLanguages] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](max) NULL,
	[DateTimeCreated] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[Visible] [bit] NOT NULL,
	[HashFolder] [nvarchar](max) NULL,
	[PdfFile] [nvarchar](max) NULL,
	[ProgressCompleteValue] [int] NOT NULL,
	[IsRemoved] [bit] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[UserExpert_UserId] [int] NULL,
	[UserIdCreator_UserId] [int] NULL,
	[AttributesId] [int] NULL,
	[isRtl] [bit] NULL,
	[BookCoverFileName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdStringSocket] [nvarchar](max) NULL,
	[MessageText] [nvarchar](max) NULL,
	[dt] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[isAnswer] [bit] NOT NULL,
	[MessageAnswerId] [nvarchar](max) NULL,
	[BookId] [int] NOT NULL,
	[PageId] [int] NULL,
 CONSTRAINT [PK_dbo.ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collections]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[CollectionId] [int] IDENTITY(1,1) NOT NULL,
	[CollectionName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Collections] PRIMARY KEY CLUSTERED 
(
	[CollectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomAttributesApps]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomAttributesApps](
	[CustomStyleAppId] [int] IDENTITY(1,1) NOT NULL,
	[StyleName] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[StyleIndexCSS] [nvarchar](max) NULL,
	[StyleOtherPagesCSS] [nvarchar](max) NULL,
	[TitleText] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomAttributesApps] PRIMARY KEY CLUSTERED 
(
	[CustomStyleAppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventCatalogs]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCatalogs](
	[EventCatalogId] [int] IDENTITY(1,1) NOT NULL,
	[Event] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EventCatalogs] PRIMARY KEY CLUSTERED 
(
	[EventCatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryModelObjects]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryModelObjects](
	[HistoryModelObjectId] [int] IDENTITY(1,1) NOT NULL,
	[Order] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[UrlIconMarker] [nvarchar](max) NULL,
	[UrlMedia] [nvarchar](max) NULL,
	[TypeMedia] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[isCover] [bit] NOT NULL,
	[isVisible] [bit] NOT NULL,
	[Lat] [float] NULL,
	[Lon] [float] NULL,
 CONSTRAINT [PK_dbo.HistoryModelObjects] PRIMARY KEY CLUSTERED 
(
	[HistoryModelObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageLists]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageLists](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageTableListId] [int] NOT NULL,
	[BooksId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LanguageLists] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageTableLists]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageTableLists](
	[LanguageTableListId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageTableName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LanguageTableLists] PRIMARY KEY CLUSTERED 
(
	[LanguageTableListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[LikeId] [int] IDENTITY(1,1) NOT NULL,
	[RectAreasViewerId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Likes] PRIMARY KEY CLUSTERED 
(
	[LikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LogText] [nvarchar](max) NULL,
	[DateLog] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessagesChatBlackLists]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessagesChatBlackLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MessagesChatBlackLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessagesChatComplaints]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessagesChatComplaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserIdVote] [int] NOT NULL,
	[UserHasVote] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[IdStringSocketId] [nvarchar](max) NULL,
	[DtReport] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MessagesChatComplaints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationCatalogs]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationCatalogs](
	[OrganizationCatalogId] [int] IDENTITY(1,1) NOT NULL,
	[Organization] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OrganizationCatalogs] PRIMARY KEY CLUSTERED 
(
	[OrganizationCatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DateTimeCreated] [datetime] NULL,
	[BlobImage] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[Visible] [bit] NOT NULL,
	[Book_BookId] [int] NULL,
	[FileNamePreview] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonCatalogs]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonCatalogs](
	[PersonCatalogId] [int] IDENTITY(1,1) NOT NULL,
	[Person] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PersonCatalogs] PRIMARY KEY CLUSTERED 
(
	[PersonCatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceCatalogs]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceCatalogs](
	[PlaceCatalogId] [int] IDENTITY(1,1) NOT NULL,
	[Place] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PlaceCatalogs] PRIMARY KEY CLUSTERED 
(
	[PlaceCatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RectAreasEditors]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RectAreasEditors](
	[RectAreasEditorId] [int] IDENTITY(1,1) NOT NULL,
	[PagesId] [int] NOT NULL,
	[RectEditorSVGOriginal] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RectAreasEditors] PRIMARY KEY CLUSTERED 
(
	[RectAreasEditorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RectAreasViewers]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RectAreasViewers](
	[RectAreasViewerId] [int] IDENTITY(1,1) NOT NULL,
	[PagesId] [int] NOT NULL,
	[RectForViewerSVG] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DescriptionWithoutHTML] [nvarchar](max) NULL,
	[Tag] [nvarchar](max) NULL,
	[BlobFragment] [nvarchar](max) NULL,
	[Person] [nvarchar](max) NULL,
	[Event] [nvarchar](max) NULL,
	[Place] [nvarchar](max) NULL,
	[Organization] [nvarchar](max) NULL,
	[ArticleTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RectAreasViewers] PRIMARY KEY CLUSTERED 
(
	[RectAreasViewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionsId] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Regions] PRIMARY KEY CLUSTERED 
(
	[RegionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUsers]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUsers](
	[User_UserId] [int] NOT NULL,
	[Role_RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RoleUsers] PRIMARY KEY CLUSTERED 
(
	[Role_RoleId] ASC,
	[User_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateDescription] [nvarchar](max) NULL,
	[StatesId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[StatesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThemesLanguagesLists]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThemesLanguagesLists](
	[ThemesLanguagesListId] [int] IDENTITY(1,1) NOT NULL,
	[DescriptionThemeRussian] [nvarchar](max) NULL,
	[DescriptionThemeEnglish] [nvarchar](max) NULL,
	[DescriptionThemeArabic] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ThemesLanguagesLists] PRIMARY KEY CLUSTERED 
(
	[ThemesLanguagesListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TranslateLanguages]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TranslateLanguages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameOnPage] [nvarchar](max) NULL,
	[Rus] [nvarchar](max) NULL,
	[Eng] [nvarchar](max) NULL,
	[Ar] [nvarchar](max) NULL,
	[Tat] [nvarchar](max) NULL,
	[OnPageId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TranslateLanguages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesLanguagesLists]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesLanguagesLists](
	[TypesLanguagesListId] [int] IDENTITY(1,1) NOT NULL,
	[DescriptionTypeRussian] [nvarchar](max) NULL,
	[DescriptionTypeEnglish] [nvarchar](max) NULL,
	[DescriptionTypeArabic] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TypesLanguagesLists] PRIMARY KEY CLUSTERED 
(
	[TypesLanguagesListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: Вт 27.09.22 10:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[Telephone] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attributes] ON 

SET IDENTITY_INSERT [dbo].[Attributes] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [BookName], [DateTimeCreated], [Description], [Tags], [Visible], [HashFolder], [PdfFile], [ProgressCompleteValue], [IsRemoved], [Comment], [UserExpert_UserId], [UserIdCreator_UserId], [AttributesId], [isRtl], [BookCoverFileName]) VALUES (1771, N'Демо книга', CAST(N'2022-09-27T08:49:44.987' AS DateTime), N'Пример книги, где перелистывание справа налево', NULL, 1, N'02B4B19A7E6D5D5CC51590AC2DB7433A', NULL, 0, 0, NULL, 11, 11, 1095, 1, N'small_B51C3B7927759A404EF193706A9F89A6.jpg')
INSERT [dbo].[Books] ([BookId], [BookName], [DateTimeCreated], [Description], [Tags], [Visible], [HashFolder], [PdfFile], [ProgressCompleteValue], [IsRemoved], [Comment], [UserExpert_UserId], [UserIdCreator_UserId], [AttributesId], [isRtl], [BookCoverFileName]) VALUES (1772, N'Демо книга 2', CAST(N'2022-09-27T08:54:33.067' AS DateTime), N'Пример книги, где перелистывание слева направо', NULL, 1, N'5C5435A0773D528F156C8EE4BC902707', NULL, 0, 0, NULL, 11, 11, 1096, 0, N'small_A5C2483AC8B3BD21690E50487BC5278F.jpg')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomAttributesApps] ON 

INSERT [dbo].[CustomAttributesApps] ([CustomStyleAppId], [StyleName], [isActive], [StyleIndexCSS], [StyleOtherPagesCSS], [TitleText]) VALUES (7, N'ZT', 0, N'body {    
    background-color: var(--white-color);
    background-image: url(/Content/Images/Background/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}', N'body {
    background-color: #383838;    
}', N'Окунитесь в историю прошлого')
INSERT [dbo].[CustomAttributesApps] ([CustomStyleAppId], [StyleName], [isActive], [StyleIndexCSS], [StyleOtherPagesCSS], [TitleText]) VALUES (10, N'Theme2', 1, N'body {
background-color: #383838; background-image: url(/Content/Images/Background/bg_2.jpg); background-size: contain; background-repeat: repeat-x; background-attachment: fixed; background-position: bottom left; background-size: 400px;}', N'body {
    background-color: #383838;    
}', N'Үткәнен белмәгән халыкның киләчәге юк')
SET IDENTITY_INSERT [dbo].[CustomAttributesApps] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryModelObjects] ON 

SET IDENTITY_INSERT [dbo].[HistoryModelObjects] OFF
GO
SET IDENTITY_INSERT [dbo].[LanguageTableLists] ON 

INSERT [dbo].[LanguageTableLists] ([LanguageTableListId], [LanguageTableName]) VALUES (160, N'Китайский')
INSERT [dbo].[LanguageTableLists] ([LanguageTableListId], [LanguageTableName]) VALUES (162, N'Испанский')
INSERT [dbo].[LanguageTableLists] ([LanguageTableListId], [LanguageTableName]) VALUES (163, N'Арабский')
SET IDENTITY_INSERT [dbo].[LanguageTableLists] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogId], [UserId], [LogText], [DateLog]) VALUES (8430, 11, N'добавил(а) новую книгу с Id = 1771', CAST(N'2022-09-27T08:49:45.167' AS DateTime))
INSERT [dbo].[Logs] ([LogId], [UserId], [LogText], [DateLog]) VALUES (8431, 11, N'добавил(а) страницу в книгу с Id = 1771 = C:\Users\User\Desktop\Работа\RectImageArchive\RectImageArchiveMillikitap\RectImageArchiveMillikitap\Books\02B4B19A7E6D5D5CC51590AC2DB7433A\B51C3B7927759A404EF193706A9F89A6.jpg', CAST(N'2022-09-27T08:50:21.030' AS DateTime))
INSERT [dbo].[Logs] ([LogId], [UserId], [LogText], [DateLog]) VALUES (8432, 11, N'добавил(а) страницу в книгу с Id = 1771 = C:\Users\User\Desktop\Работа\RectImageArchive\RectImageArchiveMillikitap\RectImageArchiveMillikitap\Books\02B4B19A7E6D5D5CC51590AC2DB7433A\78E35B5057296EC61B6BE26EBE8F697F.jpg', CAST(N'2022-09-27T08:50:21.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([Id], [Title], [Description], [DateTimeCreated], [BlobImage], [FileName], [Visible], [Book_BookId], [FileNamePreview]) VALUES (21261, NULL, NULL, CAST(N'2022-09-27T08:50:21.017' AS DateTime), NULL, N'B51C3B7927759A404EF193706A9F89A6.jpg', 1, 1771, N'small_B51C3B7927759A404EF193706A9F89A6.jpg')
INSERT [dbo].[Pages] ([Id], [Title], [Description], [DateTimeCreated], [BlobImage], [FileName], [Visible], [Book_BookId], [FileNamePreview]) VALUES (21262, NULL, NULL, CAST(N'2022-09-27T08:50:21.217' AS DateTime), NULL, N'78E35B5057296EC61B6BE26EBE8F697F.jpg', 1, 1771, N'small_78E35B5057296EC61B6BE26EBE8F697F.jpg')
INSERT [dbo].[Pages] ([Id], [Title], [Description], [DateTimeCreated], [BlobImage], [FileName], [Visible], [Book_BookId], [FileNamePreview]) VALUES (21263, NULL, NULL, CAST(N'2022-09-27T08:50:21.427' AS DateTime), NULL, N'5265994CC4AD06DE20B39C9ED517E56A.jpg', 1, 1771, N'small_5265994CC4AD06DE20B39C9ED517E56A.jpg')
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([RegionsId], [RegionName]) VALUES (14, N'Урало-Поволжье и Сибирь')
INSERT [dbo].[Regions] ([RegionsId], [RegionName]) VALUES (15, N'Средняя Азия')
INSERT [dbo].[Regions] ([RegionsId], [RegionName]) VALUES (16, N'Дагестан')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Editor')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[RoleUsers] ([User_UserId], [Role_RoleId]) VALUES (11, 2)
INSERT [dbo].[RoleUsers] ([User_UserId], [Role_RoleId]) VALUES (11, 3)
INSERT [dbo].[RoleUsers] ([User_UserId], [Role_RoleId]) VALUES (11, 4)
GO
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([StateDescription], [StatesId]) VALUES (N'Удовлетворительное', 1)
INSERT [dbo].[States] ([StateDescription], [StatesId]) VALUES (N'Плохое', 2)
INSERT [dbo].[States] ([StateDescription], [StatesId]) VALUES (N'Очень хорошее', 3)
SET IDENTITY_INSERT [dbo].[States] OFF
GO
SET IDENTITY_INSERT [dbo].[ThemesLanguagesLists] ON 

INSERT [dbo].[ThemesLanguagesLists] ([ThemesLanguagesListId], [DescriptionThemeRussian], [DescriptionThemeEnglish], [DescriptionThemeArabic]) VALUES (1037, N'Коран', N'Koran', N'القرآن')
INSERT [dbo].[ThemesLanguagesLists] ([ThemesLanguagesListId], [DescriptionThemeRussian], [DescriptionThemeEnglish], [DescriptionThemeArabic]) VALUES (1038, N'Комментарии к Корану', N'Commentaries on the Qur''an', N'التفسير')
INSERT [dbo].[ThemesLanguagesLists] ([ThemesLanguagesListId], [DescriptionThemeRussian], [DescriptionThemeEnglish], [DescriptionThemeArabic]) VALUES (1039, N'Фикх и теория мусульманского права', N'Fiqh and the theory of Islamic law', N'الفقه و أصوله')
SET IDENTITY_INSERT [dbo].[ThemesLanguagesLists] OFF
GO
SET IDENTITY_INSERT [dbo].[TranslateLanguages] ON 

INSERT [dbo].[TranslateLanguages] ([Id], [NameOnPage], [Rus], [Eng], [Ar], [Tat], [OnPageId]) VALUES (2, N'Авторизация', N'Авторизация', N'Authorization', N'تفويض', N'Рөхсәт', 1)
INSERT [dbo].[TranslateLanguages] ([Id], [NameOnPage], [Rus], [Eng], [Ar], [Tat], [OnPageId]) VALUES (1003, N'Вход', N'Вход', N'Login', N'ليأتي', N'Керергә', 1)
INSERT [dbo].[TranslateLanguages] ([Id], [NameOnPage], [Rus], [Eng], [Ar], [Tat], [OnPageId]) VALUES (1004, N'Регистрация', N'Регистрация', N'Registration', N'التسجيل', N'Теркәлү', 1)
GO
SET IDENTITY_INSERT [dbo].[TranslateLanguages] OFF
GO
SET IDENTITY_INSERT [dbo].[TypesLanguagesLists] ON 

INSERT [dbo].[TypesLanguagesLists] ([TypesLanguagesListId], [DescriptionTypeRussian], [DescriptionTypeEnglish], [DescriptionTypeArabic]) VALUES (31, N'Рукопись', N'Manuscript', N'مخطوطة')
INSERT [dbo].[TypesLanguagesLists] ([TypesLanguagesListId], [DescriptionTypeRussian], [DescriptionTypeEnglish], [DescriptionTypeArabic]) VALUES (32, N'Печатная книга', N'Printed book', N'كتاب مطبوع')
INSERT [dbo].[TypesLanguagesLists] ([TypesLanguagesListId], [DescriptionTypeRussian], [DescriptionTypeEnglish], [DescriptionTypeArabic]) VALUES (33, N'Фотография', N'The photo', N'الصورة')
SET IDENTITY_INSERT [dbo].[TypesLanguagesLists] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [FirstName], [LastName], [Email], [Password], [IsActive], [ActivationCode], [Discriminator], [Telephone]) VALUES (11, N'2@2.ru', N'Имя', N'Фамилия', N'2@2.ru', N'1', 1, N'd80ca2fd-4c29-4085-88ec-9023cdd0532f', N'User', N'+79047132572')
INSERT [dbo].[Users] ([UserId], [Username], [FirstName], [LastName], [Email], [Password], [IsActive], [ActivationCode], [Discriminator], [Telephone]) VALUES (15, N'demo@demo.ru', N'Демо', N'Демо', N'demo@demo.ru', N'demo', 1, N'aae9cd9c-99f1-489f-929d-0b427d21dd72', N'User', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Attributes] ADD  CONSTRAINT [DF__Attribute__Finis__72C60C4A]  DEFAULT ((0)) FOR [FinishProcessing]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_ProgressCompleteValue]  DEFAULT ((100)) FOR [ProgressCompleteValue]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_UserIdCreator_UserId]  DEFAULT ((10)) FOR [UserIdCreator_UserId]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [BookId]
GO
ALTER TABLE [dbo].[LanguageLists] ADD  DEFAULT ((0)) FOR [BooksId]
GO
ALTER TABLE [dbo].[MessagesChatComplaints] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DtReport]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Discriminator]
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Attributes_dbo.Regions_RegionsId] FOREIGN KEY([RegionsId])
REFERENCES [dbo].[Regions] ([RegionsId])
GO
ALTER TABLE [dbo].[Attributes] CHECK CONSTRAINT [FK_dbo.Attributes_dbo.Regions_RegionsId]
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Attributes_dbo.States_States_StatesId] FOREIGN KEY([StatesId])
REFERENCES [dbo].[States] ([StatesId])
GO
ALTER TABLE [dbo].[Attributes] CHECK CONSTRAINT [FK_dbo.Attributes_dbo.States_States_StatesId]
GO
ALTER TABLE [dbo].[BookLanguages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookLanguages_dbo.Books_Book_BookId] FOREIGN KEY([Book_BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[BookLanguages] CHECK CONSTRAINT [FK_dbo.BookLanguages_dbo.Books_Book_BookId]
GO
ALTER TABLE [dbo].[BookLanguages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookLanguages_dbo.LanguageTableLists_LanguageTableListsId] FOREIGN KEY([LanguageTableListsId])
REFERENCES [dbo].[LanguageTableLists] ([LanguageTableListId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookLanguages] CHECK CONSTRAINT [FK_dbo.BookLanguages_dbo.LanguageTableLists_LanguageTableListsId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Attributes_AttributesId] FOREIGN KEY([AttributesId])
REFERENCES [dbo].[Attributes] ([AttributesId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Attributes_AttributesId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Users_User_UserId] FOREIGN KEY([UserExpert_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Users_User_UserId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Users_UserIdCreator_UserId] FOREIGN KEY([UserIdCreator_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Users_UserIdCreator_UserId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChatMessages_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_dbo.ChatMessages_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[LanguageLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LanguageLists_dbo.Books_BooksId] FOREIGN KEY([BooksId])
REFERENCES [dbo].[Books] ([BookId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LanguageLists] CHECK CONSTRAINT [FK_dbo.LanguageLists_dbo.Books_BooksId]
GO
ALTER TABLE [dbo].[LanguageLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LanguageLists_dbo.LanguageTableLists_LanguageTableListId] FOREIGN KEY([LanguageTableListId])
REFERENCES [dbo].[LanguageTableLists] ([LanguageTableListId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LanguageLists] CHECK CONSTRAINT [FK_dbo.LanguageLists_dbo.LanguageTableLists_LanguageTableListId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Likes_dbo.RectAreasViewers_RectAreasViewerId] FOREIGN KEY([RectAreasViewerId])
REFERENCES [dbo].[RectAreasViewers] ([RectAreasViewerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_dbo.Likes_dbo.RectAreasViewers_RectAreasViewerId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Likes_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_dbo.Likes_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logs_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_dbo.Logs_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pages_dbo.Books_Book_BookId] FOREIGN KEY([Book_BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_dbo.Pages_dbo.Books_Book_BookId]
GO
ALTER TABLE [dbo].[RectAreasEditors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RectAreasEditors_dbo.Pages_PagesId] FOREIGN KEY([PagesId])
REFERENCES [dbo].[Pages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RectAreasEditors] CHECK CONSTRAINT [FK_dbo.RectAreasEditors_dbo.Pages_PagesId]
GO
ALTER TABLE [dbo].[RectAreasViewers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RectAreasViewers_dbo.Pages_PagesId] FOREIGN KEY([PagesId])
REFERENCES [dbo].[Pages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RectAreasViewers] CHECK CONSTRAINT [FK_dbo.RectAreasViewers_dbo.Pages_PagesId]
GO
ALTER TABLE [dbo].[RoleUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_Role_RoleId] FOREIGN KEY([Role_RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUsers] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_Role_RoleId]
GO
ALTER TABLE [dbo].[RoleUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_User_UserId] FOREIGN KEY([User_UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUsers] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_User_UserId]
GO
